<%= render 'tops/top' %>

<div class="navbar">
  <ul>
    <li><%= link_to "HOME", root_path %></li>
    <li>></li>
    <li>事業内容</li>
  </ul>
</div>

<div class="main">
  <h3 class="title">
    株式会社トライズの事業内容
  </h3>
  <ul class="services">
    <li class="service"><%= link_to "クリーン事業", root_path%></li>
    <li class="service"><%= link_to "建築設備事業", root_path%></li>
    <li class="service"><%= link_to "通信事業", root_path%></li>
  </ul>
</div>

<div class="main-bottom">
  <div class="row">
    <div class="main-contents col-sm-4">
      <a href= '/' >
        <img src="top_product_im04.jpg">
      </a>
    </div>
    <div class="main-contents col-sm-4">
      <a href= '/' >
        <img src="top_product_im02.jpg">
      </a>
    </div>
    <div class="main-contents col-sm-4">
      <a href= '/' >
        <img src="top_product_im03.jpg">
      </a>
    </div>
  </div>

  <div class="yazirusi">
    <img src="yazirusi.jpg">
  </div>

  <div class="service-inner">
    <h4>
      全ての工事を一貫自社施工で。<br>
      株式会社トライズの強み
    </h4>
  </div>

  <div class="service-inner1">
    <h4>
      01<br>
      <br>
      低コストで工事を実施
    </h4>
  </div>

  <div class="service-inner2">
    <h4>
      02<br>
      <br>
      自社施工だからできる<br>
      高品質施工
    </h4>
  </div>

  <div class="service-inner3">
    <h4>
      03<br>
      <br>
      経験豊富だからできる<br>
      臨機応変の対応力
    </h4>
  </div>

  <div class="yazirusi">
    <img src="yazirusi.jpg">
  </div>

</div>


<%= render 'tops/bottom' %>