<footer>
  <div class="bottom-hight">
    <div class="top-inner">
      <h2>ご質問やご相談まずはなんでもお聞かせ下さい。</h2>
      <p>お問い合わせは、以下メールフォームまたはお電話からお寄せください。</p>
      <div class="form">
        <div class="tel">
          Tel:06-6845-7782 Fax:06-6845-7783
        </div>
        <div class="mail">
          <%= link_to "お問い合わせはこちらから", root_path %>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-row">
    <div class="bottom-inner">
      <ul>
        <li><%= link_to "事業紹介", services_path %></li>
        <li><%= link_to "工事実績", performances_path %></li>
        <li><%= link_to "採用情報", recruits_path %></li>
        <li><%= link_to "企業理念", philosophies_path %></li>
        <li><%= link_to "会社概要", companies_path %></li>
        <li><%= link_to "プライバシーポリシー", root_path %></li>
        <li><%= link_to "サイトマップ", root_path %></li>
      </ul>
      <p>Copyright(C) 2019- 株式会社トライズCO.,LTD All right Reserved.</p>
    </div>
  </div>
</footer>