    <header>
      <div class="top">
        <h1>クリーン事業をお探しなら株式会社トライズにお任せください！</h1>
      </div>
      <div class="info">
        <div class="logo">
          <img src="logo.png">
        </div>
        <div class="contact">
          <span>TEL:06-6845-7782<br>
             FAX:06-6845-7783</span>
        </div>
      </div>
      <div class="nav">
        <ul>
          <li><%= link_to "TOP", root_path %></li>
          <li><%= link_to "事業内容", root_path %></li>
          <li><%= link_to "工事実績", root_path %></li>
          <li><%= link_to "会社概要", root_path %></li>
          <li><%= link_to "採用情報", root_path %></li>
        </ul>
      </div>
    </header>