<header>
  <div class="top">
    <h1>クリーン事業をお探しなら株式会社トライズにお任せください！</h1>
  </div>
  <div class="info">
    <div class="logo">
      <%= link_to image_tag("/logo.png"), root_path %>
    </div>
    <div class="contact">
      <span>TEL:06-6845-7782<br>
          FAX:06-6845-7783</span>
    </div>
  </div>
  <div class="nav">
    <ul class="nav-menu">
      <li class="menu__single"><%= link_to "TOP", root_path %></li>
      <li class="menu__single"><%= link_to "事業内容", services_path %>
        <ul class="menu__second-level">
          <li><%= link_to "クリーン事業", services_path %></li>
          <li><%= link_to "建築設備事業", services_path %></li>
          <li><%= link_to "通信事業", electricities_path %></li>
        </ul>
      </li>
      <li class="menu__single"><%= link_to "工事実績", performances_path %></li>
      <li class="menu__single"><%= link_to "会社概要", companies_path %>
        <ul class="menu__second-level">
          <li><%= link_to "企業理念", philosophies_path %></li>
          <li><%= link_to "代表挨拶", messages_path %></li>
        </ul>
      </li>
      <li class="menu__single"><%= link_to "採用情報", recruits_path %></li>
    </ul>
  </div>
</header>