<!DOCTYPE html>
<html lang="ja">
<html>
  <head>
    <title>株式会社トライズ</title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- BootstrapのCSS読み込み -->
    <%# <link href="bootstrap/bootstrap.min.scss" rel="stylesheet"> %>

    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <link href="slick/slick-theme.scss" rel="stylesheet" type="text/scss">
    <link href="slick/slick.scss" rel="stylesheet" type="text/scss">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
    <script type="text/javascript" src="js/slick.min.js"></script>

    <!-- BootstrapのJS読み込み -->
    <script src="js/bootstrap.min.js"></script>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
